.timer {
    height: 10px;
    background: #2e375b;
    width: 100%;
    border-radius: 10px 10px 10px 0px;
    animation: 10s timer linear;
    animation-fill-mode: forwards;
    padding-bottom: 5px;
}

@keyframes timer {
    100% {
        width: 0%;
        background: red;
    }

    50% {
        background: orange;
    }

    0% {
        width: 100%;
    }
}